.title {
    font-size: 18pt;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    left:5px;
    top:5px;
    position: absolute;
}

.question {
    font-size: 7pt;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    left:3px;
    top:20px;
    position: absolute;
    z-index: 999;
}

.smallVid {
    background-repeat:no-repeat;
    position:absolute;
    background-size:contain;
    background-position: right;
    z-index: 99;
    width:100%;
    height:100%;
    top: 5px;
}

.vidwrapperWidya {
    width:40%;
    height:32%;
    position:absolute;
    right:5px;
    top:5px;
    z-index: 9;
}

.vidwrapper{
    /* display:table; */
    width:auto;
    position:relative;
}

.play {
    opacity: .75;
    background-repeat:no-repeat;
    width:15%;
    height:15%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}

.play2 {
    opacity: .75;
    background-repeat:no-repeat;
    width:30%;
    height:30%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
    z-index: 999;
}

.pause {
    opacity: .05;
    background-repeat:no-repeat;
    width:100%;
    height:100%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
    z-index: 999;
}

.table-black {
    border: solid 1px #000;
}

.table-black td {
    border-bottom: solid 1px #000;
    border-left: solid 1px #000;
}

.table-black th {
    border-bottom: solid 1px #000;
}

.video-token.disabled{
    pointer-events: inherit;
    cursor: not-allowed;
    background-color:#a5a5a54f;
}

.lock-token{
    width: 100%;
    position:absolute;
    height: 84%;
    top: 120px;
    padding-top: 20%;
    padding-left: 25%;
    padding-right: 25%;
    /* margin-right: auto; */
    /* height: 600px; */
    z-index: 99;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color:#335877;
    background-color: rgba(255,255,255, 0.7);
}
.lock-icon{
    padding-top: 10px;
    font-size: 80px;
    background-color: #e0dede;
    color:#335877;
    -webkit-text-shadow: -1px 2px 13px rgb(0 0 0 / 42%);
    text-shadow: -1px 2px 13px rgb(0 0 0 / 42%);
    border: 25px solid #f0ecec;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width: 150px;
    height: 150px;
    text-align: center;
    /* cursor: pointer; */
}

/* .lock-token i:hover{
    color: #90080880;
    border: 25px solid #335877;
}

.lock-token i:active{
    transform: translateY(2px);
} */

.button-video{
    border: 2px solid  #335877;
    background-color: #fff;
    color:  #335877;
    border-radius: 10px;
}

.button-video:hover{
    background-color:  #335877;
    color: #fff;
}

.button-video:focus{
    background-color:  #335877;
    color: #fff;
}

.button-video:disabled{
    border: 2px solid  #335877;
    background-color: #fff;
    color:  #335877;
    cursor: no-drop;
}

.button-video:active{
    /* background-color:  #335877; */
    color: #fff;
    transform: translateY(1px);
    background-color:  #335877;
}

.button-video-active {
    background-color:  #335877;
    color: #fff;
}

.button-asesmen{
    border: 2px solid  #335877;
    background-color: #fff;
    color:  #335877;
    border-radius: 10px;
}

.button-asesmen:hover{
    background-color:  #24a0ed;
    color: #fff;
}

.button-asesmen:focus{
    background-color:  #24a0ed;
    color: #fff;
}

.button-asesmen:active{
    transform: translateY(1px);
    background-color:  #24a0ed;
}
.button-asesmen-active {
    background-color:  #24a0ed;
    color: #fff;
    border-color: #24a0ed;
}

.video-label{
    /* position: relative; */
    top: -40;
    background-color:#335877 ;
    color:#fff;
    border-top-right-radius: 50px;
    width: 120px;
    height: 25px;
    padding-top: 1px;
    padding-left: 5px;
    align-items: center;
}

.video-border{
    background-color: #E0E5EA;
    /* border: 2px solid #24a0ed;
    border-collapse: collapse; */
}