// Variable overrides
$netis-primary: #372974;
$netis-secondary: #807F7F;
$pink: #FF8A9D;

$theme-colors: (
    "netis-primary": $netis-primary,
    "netis-secondary": $netis-secondary,
    "pink": $pink, 
);

$line-height-base: 1.6;
$small-font-size: 85%;

$dropdown-link-active-bg: #f0f3f5;
$dropdown-link-active-color: #181b1e;
